  /* font import */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');
/* declare variable */
:root{
    --primary-font:'Work Sans', sans-serif;
    --white:#FFFFFF;
    --font-big:700;
    --dark-one:#131313;
    --dark-two:#424242;
    --dark-three:#727272;
    --golden:#FF900E;
    --banner-color:rgba(255, 144, 14, 0.1);

}
/* for all item */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container{
    max-width:1440px;
    width:80%;
    margin:0 auto;
}
section{
    padding: 50px 0;
}
/* banner start */
.banner{
    background:var(--banner-color);
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 70px 0;
}
.title{
    color: var(--dark-one);
    font-family: var(--primary-font);
    font-weight: var(--font-big);
}
/* menu style */
nav > ul{
    display:flex;
    list-style: none;
    gap: 25px;

}
nav ul li a{
    text-decoration: none;
    color: var(--dark-two);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}
.heading-brand{
    color: var(--dark-one);
}

.heading-paragraph{
    font-family: var(--primary-font);
    font-weight:400;
    font-size:12px;
    line-height:26px;
}
/* button style */
.button-primary{
    width: 120px;
    height: 42px;
    background: var(--golden);
    border-radius: 8px;
    border: none;
    color: var(--white);
}
.banner-image{
    padding: 40px;
    height: 500px;
}
.banner-image>img{
    height: 100%;
    width: 100%;
}
/* feature section start */

.feature-top{
    display:flex;
    justify-content:space-between; 
    padding-left: 50px;
}
.feature-multi-image{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.feature-multi-image>img{
    border-radius: 8px;
}
.feature-quick-list{
    
    padding-left: 17px;
}
.feature-description{
    margin-top: 50px;
}
.feature-heading{
    
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color:var(--dark-one);
}
.feature-description{
    margin-left: 80px;
}
.feature-heading .dark-mark{
    color:var(--dark-three);
}
.feature-heading .golden-mark{
    color:var(--golden);
}
.feature-paragraph{
    margin-bottom:20px;
}
/* feature bottom start */
.feature-bottom{
    display:flex;
    justify-content: space-between;
    gap: 160px;
}

.feature-bottom-start{
    width:47%;
}
.feature-bottom-image{
    width: 53%;
    
    position: relative;
}
.feature-bottom-image>img{
    height: 700px;
    width: 100%;
    margin-left:30px;
}
.feature-border{
    border-left:4px solid var(--golden);
    padding: 8px 10px;
    margin-bottom: 10px;
    
}
.feature-box{
    border:none;
    border-radius:5px;
    padding: 20px 20px;
    margin-top: 30px;
    background: var(--white);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
/* poster using position*/
.poster{
    width:150px;
    height: 80px;
    background-color: var(--golden);
    border:8px;
    color: var(--white);
    padding: 10px 20px;
    position: absolute;
    bottom:0;
    left:0;

}
/* fact start */
.fact-heading{
    font-size:26px;
}
.fact-paragraph{
    margin-top: 20px;
    margin-bottom:30px;
}
.experience-container{
    display: flex;
    justify-content: space-around;
}
.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--golden);
    border-radius: 8px;
    width: 150px;
    height: 150px;
}
/* transform */
.experience:hover img{
    transform: rotate(90deg);
    transition: 1s;
}
.experience>img{
    width: 35px;
    height: 35px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo>img{
    width:150px;
    height: 50px;
}
/* sponsor */
.heading-sponsor{
    font-size: 26px;
    text-align: center;
}
.paragraph-sponsor{
    font-size: 12px;
    text-align: center;
    margin:20px 0;
}

/* update and queries */
.and{
    color:var(--golden);
}
.update-queries{
    display: flex;
    justify-content: space-around;
}
.update-heading{
    font-size: 26px;
    text-align: center;
    margin:50px 0;
}
/* form */
form>input,textarea{
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.sub-button{
    background: var(--golden);
    color:var(--white);
    border: none;
}
/* footer style */
footer{
    background-color: var(--banner-color);
    padding:30px 50px;
    
}
.footer-paragraph{
    text-align: center;
}
/* media queries for mobile device */
@media only screen and (max-width:576px){
    .container{
        width:100%;
    }
    .header-top{
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
        margin-top: 50px;
    }
    br{
        display: none;
    }
    .banner-image{
        padding:0;
        height: 400px;
        margin-top: 50px;
    }
    .banner-image>img{
        object-fit:cover;
        object-position:center;
    }
    .feature-multi-image{
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        padding: 0 20px;
    }
    .feature-description{
        margin-right: 120px;
        text-align: center;
    }
   
    .feature-top{
        flex-direction: column;
        padding-left:0;
        padding-right: 10px;
    }
    .feature-bottom{
        flex-direction: column;
        align-items: center;
    
    }
    .feature-bottom-image>img{
        text-align: center;
        width:200px;
        height: 300px;
    }
    .poster{
        position: static;
        margin-top: 50px;
    }
    .fact{
        text-align: center;
    }
    
    .experience-container{
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
    
    .logo{
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
    .update-queries{
        flex-direction: column;
    }
    .updates,.queries{
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    form>input,textarea{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    .sponsor{
        text-align: center;
    }
}